# Directories
**/*尚硅谷*/**
venv/
dist/
eggs/
spec/
.idea/
.eggs/
.cache/
.sync/
.config/
# .obsidian/

# General Files
*.ppt
*.pptx
# *.pdf
*.docs
*.docx
*.xls
*.xlsx
*.cvs
*.txt
*.log
*.log.*
*.rar
*.7z
*.zip
*.xz
*.tar
*.gz
*.zst
*.rpm
*.deb
*.xmind
*.mmap

# Compiled Files
*.clas
*.out
*.test

# Executable Files
*.AppImage
*.exe
*.exe~
*.iso
*.iso.*
*.jar
*.jar.*
*.war
*.war.*
*.ddl
*.dylib
*.so
*.so.*